<footer>
    <div class="part1">
        <div class="link">
            <h4>Liens Utiles</h4>
            <ul>
                <li><a href="https://www.education.gouv.fr/" target="blank">education.gouv.fr</a>
                </li>
                <li><a href="https://etudiant.gouv.fr" target="blank">etudiant.gouv.fr</a></li>
                <li><a href="https://gouvernement.fr" target="blank">
                        gouvernement.fr</a></li>
                <li><a href="https://legifrence.gouv.fr" target="blank">legifrence.gouv.fr
                    </a></li>
                <li><a href="https://service-public.fr" target="blank">
                        service-public.fr</a></li>
                <li><a href="https://data.gouv.fr" target="blank">data.gouv.fr</a>
                </li>
                <li><a href="https://alternance.emploi.gouv.fr" target="blank">alternance.emploi.gouv.fr</a>
                </li>
            </ul>
        </div>
        <div class="infos">
            <h4>Information sur le site</h4>
            <ul>

                <li><a href="{{ path('app_home')}}" target="blank">Glossaire</a></li>
                <li><a href="#" target="blank">Plan du site
                    </a></li>
                <li><a href="{{ path('app_mentions_legales')}}" target="blank">Mentions légales</a></li>
                <li><a href="{{ path('app_data_personal_security')}}" target="blank">Données personnelles et sécurité</a></li>
                <li><a href="#" target="blank">Cookies</a></li>
                <li><a href="#" target="blank">Accéssibilité</a></li>
            </ul>
        </div>
        <div class="contact">
            <h4>Contact</h4>
            <ul>
                <li><a href="#" target="blank">Qui sommes-nous?</a></li>
                <li><a href="#" target="blank">Contactez-nous</a></li>
            </ul>
        </div>
        </div>
            <div class="legale">
                <hr>
                <a href="{{ path('app_mentions_legales')}}">© 2024 R.relationnelle - Mention légale/SARPGN.</a>
            </div>
</footer>