{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/mentionsLegales.css') }}">
{% endblock %}

{% block body %}

<section class="main">

    <div class="container_mentions">
        <h2>Mentions légales</h2>
        <div class="content">
            <h3>Éditeur</h3>
            <ul>
                <li>VOLT</li>
                <li>1 All. du Titane, 45100 Orléans</li>
                <li>0676291452</li>
                <li>test2@gmail.com</li>
            </ul>
        </div>
        <div class="content">
            <h3>Responsable de la Rédaction</h3>
            <p>Dijoux Mickael</p>
        </div>
        <div class="content">
            <h3>Crédits photos</h3>
            <a href="https://unsplash.com/fr">https://unsplash.com/fr</a>
			<a href="https://pixabay.com/fr">https://pixabay.com/fr</a>
			<a href="https://www.pexels.com/fr-fr/">https://www.pexels.com/fr-fr/</a>
        </div>
        <div class="content">
            <h3>Conception et réalisation du site</h3>
            <p>Dijoux Mickael</p>
			<p>Arredondo Lucas</p>
			<p>Barberousse Enzo</p>
			<p>Vater Matys</p>
        </div>

        <div class="content">
            <h3>Hébergeur</h3>
            <ul>
				<li>VOLT</li>
                <li>1 All. du Titane, 45100 Orléans</li>
                <li>0676291452</li>
                <li>test2@gmail.com</li>
            </ul>
        </div>
        <div class="content">
            <h3>Propriété intellectuelle</h3>
         <!--  <p>Mention sur la propriété intellectuelle du contenu du site</p>-->
        </div>
        <div class="content">
            <h3>Conditions d’utilisation</h3>
            <p>Conditions d'utilisation du site</p>
           
        </div>
        <div class="content">
            <h3>Autorité de Contrôle</h3>
          <!-- <p>Organisme de régulation ou d'autorité de contrôle compétent</p>-->
        </div>

		<div class="content">
			<h3>Traitement des données à caractère personnel</h3>
			<p>volt.mazecity.eu a fait l'objet d'une déclaration à la Commission Nationale de l'Informatique et des Libertés (CNIL) sous le n° 712957.

				La base de données diffusée dans la rubrique Annuaire de l'administration a fait l'objet d'une déclaration spécifique sous le n° 1546654.
				
				L'annuaire de l'administration a été autorisé par l'arrêté du 6 novembre 2000 relatif à la création d'un site sur internet intitulé service-public.fr (modifié par l'arrêté du 10 août 2001).
				
				Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Pour demander une modification, rectification ou suppression des données vous concernant, il vous suffit d'envoyer un courrier par voie électronique ou postale à la DILA en justifiant de votre identité.</p>
		</div>
        <div class="content">
            <h3>Traitement des réclamations</h3>
            <p>Pour toutes réclamations veuillez-nous contacter sur notre boite mail dijoux_mickael@outlook.fr</p>
        </div>
    </div>
</section>
{% endblock %}
